/*  your css code here. If applicable */
#Heading1{
	color:#2a7ae2;
}
#Heading2{
	color:#f44336;
}
#Heading3{
	color:#4caf50;
}
#Heading4{
	color:#ff9800;
}
#Heading5{
	color:#607d8b;
}
#Heading6{
	color:#ffeb3b;
}